* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent scrolling */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  text-align: center;
}

.modal .modal-content input {
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
}

.modal .modal-content h2,
.modal .modal-content p {
  margin-bottom: 20px;
}

.modal .modal-content span.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3.5rem;
  color: red;
  cursor: pointer;
}

.modal .modal-content button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal .modal-content button:hover {
  background-color: #555;
}

.info-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%; 
  font-size: 1.2rem;
  margin-bottom: 5px;
  border: 1px solid #f0f0f0;
  flex: 0 0 auto; /* Prevents flexbox from resizing */
}

.info-container span {
  font-weight: bold;
  color: #321b5f;
}

.game {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%; 
  flex: 1 1 auto; 
}

.game .game-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Adjusted padding for better fit */
  position: relative;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 20%; 
  width: 20%; 
  margin: 5px; 
  cursor: pointer;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.game .game-block .front::before {
  content: "?";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: #fff;
  font-size: 3rem; 
}

.game .game-block .front {
  background-color: #333;
}

.game .game-block .back {
  background-color: #607d8b;
  transform: rotateY(180deg);
  display: none;
}

.game .game-block .back,
.game .game-block .front {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  backface-visibility: hidden;
}

.game .game-block .back img {
  display: block;
  width: 80px; 
  height: 80px; 
  object-fit: cover;
  margin: 21px auto 0; 
}
 
.game .game-block.active {
  transform: rotateY(180deg);
  pointer-events: none;
  cursor: default;
}

.game .game-block.active .front,
.game .game-block.done .front {
  display: none;
}

.game .game-block.active .back,
.game .game-block.done .back {
  display: block;
}

.game .game-block.done {
  transform: rotateY(180deg);
  pointer-events: none;
  cursor: default;
}
